footer{
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 2;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
}